<div class="fields bs-example form-group" width="50%" >
    <%= f.text_field :name,placeholder:"Name",class:"form-control",'data-provide'=>"typeahead",'data-source'=>'["2","3"]'%>
    <%= f.text_field :quantity,placeholder:"quantity (in mg)",maxlength:4,class:"form-control"%>
    <%= f.text_field :sigcode,placeholder:"Sigcode",maxlength:5,class:"form-control"%>
    <%= link_to_remove_fields "remove", f %>
</div>      
