<table>
	<tr>
		<th>Diagnostic Test</th>
		<td><%= f.text_field(:diagnostictest) %></td>
	</tr>
	<tr>
		<th>Drugs</th>
		<td><%= f.text_field(:drugs) %></td>
	</tr>
	<tr>
		<th>Diagnostic Result</th>
		<td><%= f.text_field(:diagnostictest_result) %></td>
	</tr>
	<tr>
		<th>Remark</th>
		<td><%= f.text_field(:remark) %></td>
	</tr>
</table>
