<br>
<%= link_to("<<Back to lists", {:action => 'list_patient'}, :class => "btn btn-primary") %>
<br>
<div id="name">
  <h2>Create Patient</h2>
  <%= form_for(:patient, :url => {:action => 'update_patient', :id => @users.id}) do |f| %>
	<%= render(:partial => 'patient', :locals => {:f => f}) %>
	<div class="form-buttons">
  		<%= submit_tag("Create Patient")%>
  	</div>
  <% end %>
</div>