<br>
<%= link_to("<<Back to lists", {:action => 'list_assistant'}, :class => "btn btn-primary") %>
<div id="name">
  <h2>Create Assistant</h2>
  <%= form_for(:assistant, :url => {:action => 'update_assistant', :id => @users.id}) do |f| %>
	<%= render(:partial => 'editassistant', :locals => {:f => f}) %>
	<div class="form-buttons">
  		<%= submit_tag("Update")%>
  	</div>
  <% end %>
</div>
