<div id="name">
  <h2>Request Appointment</h2>
  <p>Doctor Name: <%= @doctors.name %> </p>
  <p>Patient Name: <%= @patients.name%></p>
  <form action="confirm_appointment" method="get">
  	<div class="well">
  		<input name="dateit" type="text" id="dp1">
  	</div>
  </form>
</div>


	<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
