<br>
<div id="name">
  <h2>Change Password</h2>
  <%= form_for(:passwordit, :url => {:controller => 'access', :action => 'change_password_action'}) do |f| %>
  	<table>
	<tr>
		<th>Old Password</th>
		<td><%= f.password_field(:old_password) %></td>
	</tr>
	<tr>
		<th>New Password</th>
		<td><%= f.password_field(:new_password) %></td>
	</tr>
	</table>
  	<div>
  		<%= submit_tag("Change Password")%>
  	</div>
  <% end %>
</div>

