<% @page_title="Admin Menu"%>
<% @page_slug="admin"%>
<br/>
<div>
	<ul>
		<%= link_to("Change Password", {:controller => 'access', :action => 'change_password'}, :class => "btn btn-primary") %>
		<div class="page-header">
		<h2>Notifications</h2>
		</div>
		<%n=Notification.where(:user_id=>session[:user_id]).order("created_at DESC")%>
		<%n.each do |t|%>
		<blockquote>
		<%=t['notification']%>
		<br/>
		Click <a href="<%=raw t['links']%>">here</a> for additional info.<br/>
		<small><%=t['created_at']%></small>
		</blockquote>
		<hr/>
		<%end%>
	</ul>
</div>
