<% if @role.name == 'admin'%>
	<% @page_title="Admin Menu"%>
	<% @page_slug="admin"%>
	<% @page_lead="Welcome "+@user.username+"..."%>
<% elsif @role.name=='patient'%>
	<% @page_title="Patient Menu"%>
	<% @page_slug="patient"%>
	<% @page_lead="Welcome "+@user.patients.first.name+"..."%>
<% elsif @role.name == 'doctor'%>
	<% @page_title="Doctor Menu"%>
	<% @page_slug="doctor"%>
	<% @page_lead="Welcome "+@user.doctors.first.name+"..."%>
<% elsif @role.name == 'assistant'%>
	<% @page_title="Assistant Menu"%>
	<% @page_slug="assistant"%>
	<% @page_lead="Welcome "+@user.assistants.first.name+"..."%>
<% else %>
	<% @page_title="Green Software"%>
	<% @page_slug="green"%>
<% end %>
<br/>
<div>
	<ul>
		<%#= link_to("Change Password", {:controller => 'access', :action => 'change_password'}, :class => "btn btn-primary") %>
		<div class="page-header">
		<h2>Dashboard</h2>
		</div>
		<%n=Notification.where(:user_id=>session[:user_id]).order("created_at DESC")%>
		<%n.each do |t|%>
		<blockquote>
		<%=t['notification']%>
		<br/>
		Click <a href="<%=raw t['links']%>">here</a> for additional info.<br/>
		<small><%=t['created_at']%></small>
		</blockquote>
		<hr/>
		<%end%>
	</ul>
</div>
