<li><%= link_to("Add to Favourites", :controller => 'users', :action => 'advanced_search_doctor')%></li>
<li><%= link_to("History of Appointments", :controller => 'users', :action => 'appointment_patient_favourite')%></li>
<li><%= link_to("Request New Appointment", :controller => 'users', :action => 'appointment')%></li>
