<li><%= link_to("Search Doctor", :controller => 'users', :action => 'search_doctor')%></li>
<li><%= link_to("See Appointments", :controller => 'users', :action => 'appointment_patient_favourite')%></li>
