<li>
  	<li><%= link_to("Doctor Administration", :controller => 'users', :action => 'list_doctor')%></li>
	<li><%= link_to("Patient Administration", :controller => 'users', :action => 'list_patient')%></li>
	<li><%= link_to("Assistant Administration", :controller => 'users', :action => 'list_assistant')%></li>
</li>