<li><%= link_to("Create Assistant", :controller => 'users', :action => 'new_assistant')%></li>
<li><%= link_to("Create Patient", :controller => 'users', :action => 'new_patient')%></li>
<li><%= link_to("Confirm Appointments", :controller => 'users', :action => 'show_appointment')%></li>
