<div class="bs-old-docs">
  <div class="container">
    <strong>
      Green Software
    </strong>
    Your healthcare solutions. <a href="http://blog.getbootstrap.com/">Read the blog</a> for details.
  </div>
</div>
